.body {
    background-color:whitesmoke;
    font-family: 'Montserrat', Georgia, serif;
    text-align: center;
    background: linear-gradient(to right, rgb(162, 94, 221), rgb(31, 196, 171));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro1 {
    transition: 0.15s;
    font-size: 1.5em;
}

.intro1:hover {
    opacity: 75%;
    font-size: 2em;
    cursor: pointer;
}

.intro2 {
    font-size: 1em;
    margin: auto;
}

.headshot {
    margin: 25px;
}

.social-link {
    margin: 25px;
    transition: 0.15s;
}

.social-link:hover {
    opacity: 75%;
}