.footer {
  font-family: Roboto, Arial;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px;
  border-style: solid;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
  background-color: #272727b9;
  color: #c2c2c2;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-top-width: 2px;
  border-top-style: solid;
  border-color: #272727f7;
}

.copyright-section {
  display: flex;
  align-items: left;
  flex-direction: column;
  flex-shrink: 0;
}

.website-hosting {
  display: flex;
  align-items: center;
}

.github-logo {
  width: 50px
}

.github-logo:hover {
  opacity: 75%;
}

.github-logo:active {
  opacity: 40%;
}

.social-section {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-shrink: 0;
  padding-right: 15px;
}

.youtube-link {
  padding-right: 15px;
  transition: 0.15s;
}

.youtube-link:hover {
  opacity: 75%;
}

.youtube-link:active {
  opacity: 40%;
}