/*Different right margin for index page*/

p {
  font-family: Roboto, Arial;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10px;
  margin-right: 10px;
}

body {
  margin: 0;
  padding-top: 110px;
  margin-left: 170px; 
  background-color: #3f826d6c;

  height: 1000px;
}