p {
  font-family: Roboto, Arial;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10px;
  margin-right: 10px;
}

body {
  margin: 0;
  padding-top: 110px;
  background-color: #272727f7;
  color: #c2c2c2;
}