.sidebar {
  font-family: Roboto, Arial;
  position: fixed;
  left: 0px;
  bottom: 0;
  top: 92px;
  bottom: 53px;
  background-color: #84a98c5e;
  color: #2f3e46;
  width: 160px;
  padding-top: 5px;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #2f3e46;
}

.featured-title {
  font-size: 20px;
  text-align: center;
  font-weight: 500;
  margin-top: 15px;
}

.featured-text {
  font-size: 14px;
  text-align: center;
  margin-top: 15px;
}